<!DOCTYPE html>
<html>
<head>
	<title>The MetaBlog</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">The Meta Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    	<a href="/" class="nav-item nav-link active">Home</a>
		<a href="/articles" class="nav-item nav-link active">Articles</a>
		<a href="/articles/new" class="nav-item nav-link active">Add Articles</a>
		<a href="/authors" class="nav-item nav-link active">Authors</a>
		<a href="/authors/new" class="nav-item nav-link active">Add Authors</a>
    <a href="/tags" class="nav-item nav-link active">Tags</a>
    </div>
  </div>
</nav>

<body>
  <div class="container">
    <%- body %>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/ajax-calls.js"></script>
</body>
</html>