<form id="edit-tag" action="/tags/<%=tag.id%>">
	<label>Tag Name:</label>
	<input type="text" class="form-control" value="<%=tag.name%>" name="name"><br>
	<input type="submit" value="change" class="btn btn-warning">
</form>