<h1>Add a new author</h1>

<form method="POST" action="/authors" id="new_author" required>
	Name: <br>
	<input type="text" name="name"> <br>
	Profile Picture:<br>
	<input type="url" name="image"><br>
	Bio: <br>
	<textarea form="new_author" name="bio"></textarea> <br>
	<input type="submit" value="Register" class="btn btn-primary">
</form>